.character-portrait-card {
  width: 16rem;
  text-align: center;
}

.character-portrait-image-container {
  width: 16rem;
  height: 18rem;
}

.character-portrait-image {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}