ul.character-attributes-list {
  --width: 260px;
  --column-count: 3;

  list-style: none;
  column-rule: 1px dotted #ddd;
  padding-inline-start: 0;

  margin-block-start: 0;
  margin-block-end: 0;

  column-count: var(--column-count);
  -moz-column-count: var(--column-count);
  -webkit-column-count: var(--column-count);

  column-width: var(--width);
  -moz-column-width: var(--width);
  -webkit-column-width: var(--width);

}

li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
