:root {
  --dark-mode-black: #111111;
  --neutral-mode-grey: #666;
  --light-mode-white: #f8f8f8;
}

.dark-mode {
  color: var(--light-mode-white);
  background-color: var(--dark-mode-black);
  border: solid thin var(--neutral-mode-grey);
}

.light-mode {
  color: var(--dark-mode-black);
  background-color: var(--light-mode-white);
  border: solid thin var(--neutral-mode-grey);
}

.visual-card-text-box {
  padding: 4px; /* .25rem */

  border-radius: 4px; /* .25rem */

  overflow: hidden;
}

.visual-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: black;
  background-position: center top;

  border-radius: .5rem;
  border: solid thin black;

  font-size: 1rem;
}

.visual-card-name {
  font-weight: bold;
  text-transform: capitalize;
}

.visual-card-type {
  text-transform: capitalize;
  font-size: 10pt;
}

.visual-card-quality-dot {
  display: inline-block;
  height: .5em;
  width: .5em;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.visual-card-body-text {
  font-size: 10pt;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
