.visual-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: black;
  background-position: center top;

  border-radius: .5rem;
  border: solid thin black;
}

.visual-card-name {
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.visual-card-type-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visual-card-type {
  color: white;
  text-transform: capitalize;
}

.visual-card-rarity-dot {
  display: inline-block;
  height: .5em;
  width: .5em;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.visual-card-body-box {
  background-color: white;
  color: black;

  border: solid thin black;
  border-radius: .25rem;

  overflow: hidden;
}

.visual-card-body-text {
  font-size: 10pt;
}

.darkText {
  color: black;
}
