:root {
  --dark-mode-black: #111111;
  --neutral-mode-grey: #666;
  --light-mode-white: #f8f8f8;
}

.dark-mode {
  color: var(--light-mode-white);
  background-color: var(--dark-mode-black);
  border: solid thin var(--neutral-mode-grey);
}

.light-mode {
  color: var(--dark-mode-black);
  background-color: var(--light-mode-white);
  border: solid thin var(--neutral-mode-grey);
}

.visual-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: black;
  background-position: center top;

  border-radius: .5rem;
  border: solid thin var(--dark-mode-black);

  font-size: 1rem;
}

.visual-card-quality-dot {
  display: flex;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
