.specialcard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: black;
  background-position: center top;

  border-radius: .5rem;
  border: solid thin black;
}

.specialcard-name {
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.specialcard-type {
  color: white;
  text-transform: capitalize;
}

.specialcard-text {
  background-color: white;
  color: black;
  opacity: 0.8;

  border-radius: .25rem;

  height: 30%;
  overflow: hidden;
}

.specialcard-author {
  color: white;
  height: .5em;
  font-size: .5em;
}