.specialcard {
  border-radius: .5rem;
  border: solid thin black;
  color: white;
}

.specialcard-name {
  font-weight: bold;
  text-transform: capitalize;
}

.specialcard-type {
  text-transform: capitalize;
}

.specialcard-text {
  background-color: white;
  color: black;
  opacity: 0.8;

  border-radius: .25rem;

  height: 30%;
  overflow: hidden;
}